* {
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: sans-serif;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
}
.navbar {
    margin-top: 32px;
}
.block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #828282;
    
}
.ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.ul>li{
    list-style: none;
    font-size: 18px;
    font-weight: 700;
    
    
}
.ul>li:first-child>a{
    color: black;
    
}

.ul>li>a{
    text-decoration: none;
    color: #828282;
    ;
}


// desinger

.deinger{
    width: 100%;
}
.top-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0;
}
.top-text>h1{
    margin: 0;
    width: 15%;
    font-family: 'Gilroy-Bold';
    font-size: 47.3392px;
    line-height: 59px;
   color: #070707;
}

.top-text>p{
    width: 20%;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}

.top-text>h4{
    transform: rotate(-90deg);
    margin-right: -25px;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
}


.bottom-foto{
    width: 100%;
}

.bottom-foto>img{
    width: 100%;
    
}

// About-me

.About-me {
    background-color: #F6F6F6;
    margin-top: 104px;
}

.about{
  padding: 50px;
}

.about>h2{
    width: 20%;
    margin-left: 44%;
    
}
.about>p{
    text-align: center;
    margin: 20px 0;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
}
.work {
    text-align: center;
    justify-content: center;
}

.skills {
    font-family: 'Gilroy-Bold';
    font-size: 25px;
    line-height: 42px;
    text-align: center;
    margin-top: 91px;
    


}
